.burger_menu {
  position: relative;
  margin: 1.25rem;
  width: 1.25rem;
  height: 0.75rem;
  align-self: center;
}
.burger_menu div {
  position: relative;
  height: 0.125rem;
  width: 1.25rem;
  background-color: #FFFFFF;
}
.burger_menu .burger_menu--first {
  transition: 500ms;
  top: 0;
}
.burger_menu .burger_menu--first--crossed {
  top: 0.3125rem;
  rotate: 45deg;
}
.burger_menu .burger_menu--middle {
  transition: 500ms;
  justify-self: center;
  top: 0.1875rem;
}
.burger_menu .burger_menu--middle--crossed {
  width: 0%;
}
.burger_menu .burger_menu--last {
  transition: 500ms;
  top: 0.375rem;
}
.burger_menu .burger_menu--last--crossed {
  top: 0.0625rem;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  .burger_menu {
    display: none;
  }
}
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 4.3125rem;
  padding: 1rem 1.25rem;
  transition: 200ms ease-in-out;
  transform-origin: top;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 12;
}
nav.deploy_nav--active {
  transform: scaleY(1);
}
nav.deploy_nav--non_active {
  transform: scaleY(0);
}
nav.header--nav {
  display: none;
}
nav a {
  color: #000000;
  font-family: "Oswald";
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-block: 0.5rem;
}

.nav--campus {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: url("/img/campus.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.nav--campus::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 85%);
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
  }
  nav.deploy_nav--active, nav.deploy_nav--non_active {
    display: none;
  }
  nav.header--nav {
    display: flex;
    position: relative;
    width: 40%;
    left: 0;
    padding: 0;
    background-color: white;
    box-shadow: none;
    z-index: 12;
  }
  nav.header--nav a {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: 25%;
    align-content: center;
  }
  nav a {
    text-align: center;
  }
}
@media screen and (min-width: 1051px) {
  nav.header--nav {
    left: 3rem;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 99;
  text-shadow: 0px 0px 5px black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
}
.header form {
  display: flex;
  margin-left: auto;
}

.box-shadow {
  filter: drop-shadow(0px 0px 2px black);
}

.engineering-and-arquitecture {
  background-color: #8B4720;
}

.sciences {
  background-color: #003DA5;
}

.law {
  background-color: #FF0000;
}

.communication {
  background-color: #7C878E;
}

.canon {
  background-color: #007749;
}

.philosophy-literature-education {
  background-color: #62B5E5;
}

.economy {
  background-color: #FA4616;
}

.nursing {
  background-color: #C1C6C8;
}

.pharmacy-nutrition {
  background-color: #5C068C;
}

.medicine {
  background-color: #FFC72C;
}

.theology {
  background-color: #FFFFFF;
}

.logo {
  display: flex;
  align-self: center;
  font-family: "Merriweather";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.6px;
  color: #FFFFFF;
}
.logo h1 {
  align-self: center;
  font-size: 0.8rem;
  width: 6.5rem;
  margin-left: 0.5rem;
  transition: 0.5s ease-in-out;
}
.logo img {
  height: 3rem;
}

.search-bar {
  position: absolute;
  align-self: center;
  width: calc(100% - 13.75rem);
  height: 2rem;
  right: 7.25rem;
  border: 0;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
  transform: translateY(-4.25rem);
  transition: 0.5s ease-in-out;
}
.search-bar::placeholder {
  color: #FFFFFF;
  letter-spacing: 1.6px;
}
.search-bar:focus-visible {
  outline-width: 0;
}

.header_buttons {
  display: flex;
}
.header_buttons--user, .header_buttons--search, .header_buttons--close, .header_buttons--display, .header_buttons--languages_selector {
  background-color: transparent;
  border: none;
  margin-block: 1.4rem;
  margin-right: 1rem;
  line-height: 0;
}
@media screen and (min-width: 1000px) {
  .header_buttons--user, .header_buttons--search, .header_buttons--close, .header_buttons--display, .header_buttons--languages_selector {
    margin: 0.4375rem 0 0.4375rem 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(133, 133, 133, 0.3019607843);
  }
}
.header_buttons--display {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  z-index: 3;
}
.header_buttons--search {
  transition: 0.5s ease-in-out;
  z-index: 2;
}
.header_buttons--close {
  position: absolute;
  right: 6.25rem;
  transform: translateY(-4.25rem);
  transition: 0.5s ease-in-out;
  z-index: 4;
}
.header_buttons--languages_selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5rem;
  width: 3.25rem;
}
.header_buttons--languages_selector .selected {
  position: relative;
  z-index: 99;
}
.header_buttons--languages_selector .not-selected1 {
  transform: translateY(2rem);
}
.header_buttons--languages_selector .not-selected2 {
  transform: translateY(4rem);
}
.header_buttons--languages_selector .not-selected-collapsed {
  transform: translateY(0rem);
}
.header_buttons--languages_selector__languages > * {
  width: 2rem;
  height: 1.375rem;
  transition: 0.5s ease-in-out;
}
.header_buttons--languages_selector__languages :not(.selected) {
  position: absolute;
  right: 1.75rem;
}
.header_buttons--dropdown {
  width: 0.875rem;
  height: 0.875rem;
  transition: 0.5s ease-in-out;
  transform-origin: center;
}
.header_buttons .toggled {
  transform: scaleY(-1);
}

@media screen and (min-width: 1000px) {
  header {
    position: relative;
    background-color: #222222;
    height: 6.25rem;
  }
  .desktop_header {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0.6875rem 0;
    width: 74%;
  }
  .header--wrapper {
    position: relative;
    margin: 0 auto;
    padding: 1.25rem;
    width: 74%;
    height: 7.5rem;
    box-shadow: none;
  }
  .logo h1 {
    font-size: 1.6rem;
  }
  .logo img {
    order: 1;
    width: 5rem;
    height: 5rem;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  }
  .header_buttons {
    position: relative;
    right: 0;
  }
}
@media screen and (min-width: 1246px) {
  .header_buttons {
    position: relative;
    right: 10%;
  }
}
html, * {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

button, input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=introduction.css.map */
