.suggest {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 4rem 1.25rem;
    font-family: 'Archivo';
    font-weight: bold;
    color: $theology;
    background-image: url('/img/central.jpg');
    background-position-x: center;
    background-position-y: -4rem;
    background-color: rgba($color: $blur, $alpha: 0.5);
    background-blend-mode: darken;
    background-size: 500%;

    input[type=text],
    textarea {
        width: 100%;
        padding: 1rem 1rem 1rem 3rem;
        background-color: rgba(0, 0, 0, 0.7);
        border: 0;
        border-radius: 0.5rem;
        color: inherit;

        &::placeholder {
            color: inherit;
            opacity: 0.8;
        }

        &#name,
        &#email,
        &#subject,
        &#message {
            background-repeat: no-repeat;
            background-position-x: 1rem;
            background-position-y: center;
        }

        &#name {
            background-image: url('/img/form-name.svg');
        }

        &#email {
            background-image: url('/img/form-email.svg');
        }

        &#subject {
            background-image: url('/img/form-subject.svg');
        }

        &#message {
            background-position-y: 1rem;
            background-image: url('/img/form-message.svg');
        }
    }

    input[type=submit] {
        width: min-content;
        padding: 1rem 2rem 1rem 4rem;
        border: 0;
        border-radius: 0.5rem;
        background-image: url('/img/send.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position-x: 1rem;
        background-position-y: 1rem;
    }

    @keyframes moveBackground {
        0% {
            background-position-x: 1rem;
        }

        30% {
            background-position-x: 2rem;
        }

        70% {
            background-position-x: 0.5rem;
        }

        100% {
            background-position-x: 1rem;
        }
    }

    .send-animation {
        animation: moveBackground 0.5s ease-in-out;
    }
}

.credits {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.75rem 3.25rem;
    width: 100%;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    color: $theology;
    text-align: center;
    letter-spacing: 0;
    background-color: $unav;

    hr {
        width: 2rem;
        margin: 1rem auto;
        border: 1px solid $theology;
    }
}