.suggest {
    position: relative;
    padding: 4rem 1.25rem;
    font-family: 'Archivo';
    font-weight: bold;
    color: $theology;
    background-image: url('/img/central.jpg');
    background-position-x: center;
    background-position-y: -4rem;
    background-color: rgba($color: $blur, $alpha: 0.3);
    background-blend-mode: darken;
    background-size: 500%;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    input:not([type=submit]),
    textarea {
        width: 100%;
        padding: 1rem 1rem 1rem 3rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        border: 0;
        border-radius: 0.5rem;
        color: inherit;

        &::placeholder {
            color: inherit;
            opacity: 0.8;
        }

        &#name,
        &#email,
        &#subject,
        &#message {
            background-repeat: no-repeat;
            background-position-x: 1rem;
            background-position-y: center;
        }

        &#name {
            &.engineering-and-arquitecture { @include form-name( $engineering-and-arquitecture ) }
            &.sciences { @include form-name( $sciences ) }
            &.law { @include form-name( $law ) }
            &.communication { @include form-name( $communication ) }
            &.canon { @include form-name( $canon ) }
            &.philosophy-literature-education { @include form-name( $philosophy-literature-education ) }
            &.economy { @include form-name( $economy ) }
            &.nursing { @include form-name( $nursing ) }
            &.pharmacy-nutrition { @include form-name( $pharmacy-nutrition ) }
            &.medicine { @include form-name( $medicine ) }
            &.theology { @include form-name( $theology ) }
        }

        &#email {
            &.engineering-and-arquitecture { @include form-email( $engineering-and-arquitecture ) }
            &.sciences { @include form-email( $sciences ) }
            &.law { @include form-email( $law ) }
            &.communication { @include form-email( $communication ) }
            &.canon { @include form-email( $canon ) }
            &.philosophy-literature-education { @include form-email( $philosophy-literature-education ) }
            &.economy { @include form-email( $economy ) }
            &.nursing { @include form-email( $nursing ) }
            &.pharmacy-nutrition { @include form-email( $pharmacy-nutrition ) }
            &.medicine { @include form-email( $medicine ) }
            &.theology { @include form-email( $theology ) }
        }

        &#subject {
            &.engineering-and-arquitecture { @include form-subject( $engineering-and-arquitecture ) }
            &.sciences { @include form-subject( $sciences ) }
            &.law { @include form-subject( $law ) }
            &.communication { @include form-subject( $communication ) }
            &.canon { @include form-subject( $canon ) }
            &.philosophy-literature-education { @include form-subject( $philosophy-literature-education ) }
            &.economy { @include form-subject( $economy ) }
            &.nursing { @include form-subject( $nursing ) }
            &.pharmacy-nutrition { @include form-subject( $pharmacy-nutrition ) }
            &.medicine { @include form-subject( $medicine ) }
            &.theology { @include form-subject( $theology ) }
        }

        &#message {
            background-position-y: 1rem;
            &.engineering-and-arquitecture { @include form-message( $engineering-and-arquitecture ) }
            &.sciences { @include form-message( $sciences ) }
            &.law { @include form-message( $law ) }
            &.communication { @include form-message( $communication ) }
            &.canon { @include form-message( $canon ) }
            &.philosophy-literature-education { @include form-message( $philosophy-literature-education ) }
            &.economy { @include form-message( $economy ) }
            &.nursing { @include form-message( $nursing ) }
            &.pharmacy-nutrition { @include form-message( $pharmacy-nutrition ) }
            &.medicine { @include form-message( $medicine ) }
            &.theology { @include form-message( $theology ) }
        }
    }

    input[type=submit] {
        width: min-content;
        padding: 1rem 2rem 1rem 4rem;
        border: 0;
        border-radius: 0.5rem;
        background-image: url('/img/send.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position-x: 1rem;
        background-position-y: center;
    }

    @keyframes moveBackground {
        0% {
            background-position-x: 1rem;
        }

        30% {
            background-position-x: 2rem;
        }

        70% {
            background-position-x: 0.5rem;
        }

        100% {
            background-position-x: 1rem;
        }
    }

    .send-animation {
        animation: moveBackground 0.5s ease-in-out;
    }
}

@media screen and (min-width: 1000px) {
    .suggest {
        background-position-y: -10vw;
        background-size: 100%;

        &>div {
            display: grid;
            grid-template-columns: 40% 60%;
            width: 60%;
            margin: 4rem auto;
        }

        p {
            grid-column: 1/3;
        }

        input:not([type=submit]) {
            grid-column: 1;
        }

        textarea {
            grid-column: 2/3;
            grid-row: 2/6;
        }

        input[type=submit] {
            width: auto;
            margin-left: auto;
            text-wrap: auto;
        }
    }
}

.credits {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.75rem 3.25rem;
    width: 100%;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    color: $theology;
    text-align: center;
    letter-spacing: 0;
    background-color: $unav;

    hr {
        width: 2rem;
        margin: 1rem auto;
        border: 1px solid $theology;
    }

    hr.separator {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .credits {
        flex-direction: row;
        padding-inline: 20%;

        p {
            align-self: center;
        }

        hr:not(.separator) {
            display: none;
        }

        hr.separator {
            display: block;
            align-self: center;
            height: 1rem;
            width: 0;
            margin: 0 0.5rem;
        }

        & p:last-child {
            margin-left: auto;
        }
    }
}