@import 'burger_menu';
@import 'nav';

@mixin header_buttons {
    @include button;
    margin-block: 1.4rem;
    margin-right: 1rem;
    line-height: 0;

    @media screen and (min-width: 1000px) {
        margin: 0.4375rem 0 0.4375rem 1.25rem;
        width: fit-content;
        height: fit-content;
        padding: 1.25rem;
        background-color: rgba($color: #FFFFFF, $alpha: 0.25);
        border: 2px solid rgba($color: #FFFFFF, $alpha: 0.5);
    }
}

.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 99;
    text-shadow: 0px 0px 5px #000000FF;
    box-shadow: 0px 4px 4px 0px #0000004A;

    form {
        display: flex;
        margin-left: auto;
    }

    &__background {
        display: none;
    }
}

.box-shadow {
    filter: drop-shadow(0px 0px 2px #000000FF);
}

@media screen and (min-width:1000px) {

    .header {
        justify-content: space-between;
        position: sticky;
        height: 10rem;

        form {
            margin-left: 0;
        }

        &__background {
            @include headerbackground(var(--gradient));
        }
    }
}

.logo {
    display: flex;
    align-self: center;
    font-family: "Merriweather";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.6px;
    color: $theology;

    h1 {
        align-self: center;
        font-size: 0.8rem;
        width: fit-content;
        margin-left: 0.5rem;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
    }

    img {
        height: 3rem;
    }
}

@media screen and (min-width: 1000px) {

    .logo {
        position: relative;
        left: 8vw;
        padding-right: 1rem;
        background: linear-gradient(to right, var(--gradient) 95%, transparent 100%);
        z-index: 20;

        h1 {
            margin-left: 1rem;
            font-size: 2rem;
        }

        img {
            height: 7rem;
        }
    }

    .gradient-engineering-and-arquitecture {
        --gradient: #8B4720;
    }

    .gradient-sciences {
        --gradient: #003DA5;
    }

    .gradient-law {
        --gradient: #FF0000;
    }

    .gradient-communication {
        --gradient: #7C878E;
    }

    .gradient-canon {
        --gradient: #007749;
    }

    .gradient-philosophy-literature-education {
        --gradient: #62B5E5;
    }

    .gradient-economy {
        --gradient: #FA4616;
    }

    .gradient-nursing {
        --gradient: #C1C6C8;
    }

    .gradient-pharmacy-nutrition {
        --gradient: #5C068C;
    }

    .gradient-medicine {
        --gradient: #FFC72C;
    }

    .gradient-theology {
        --gradient: #FFFFFF;
    }
}

.search-bar {
    position: absolute;
    align-self: center;
    width: calc(100% - 18.25rem);
    height: 2rem;
    right: 11.75rem;
    border: 0;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1.6px;
    color: $theology;
    background-color: transparent;
    border-bottom: 1px solid $theology;
    transform: translateY(-4.25rem);
    transition: 0.5s ease-in-out;

    &::placeholder {
        color: $theology;
        letter-spacing: 1.6px;
    }

    &:focus-visible {
        outline-width: 0;
    }
}

@media screen and (min-width: 1000px) {
    .search-bar {
        right: 21.5rem;
        width: 12.5rem;
        border: none;
        transform: scaleX(0);
        transform-origin: right;
        transition: 0.5s ease-in-out;
        z-index: 99;

        &.toggled {
            right: 24rem;
            transform: scaleX(1);
        }
    }
}

.header_buttons {
    display: flex;

    &--user,
    &--search,
    &--close,
    &--display,
    &--languages_selector {
        @include header_buttons;
    }

    &--display {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    &--search {
        transition: 0.5s ease-in-out;
        z-index: 2;
    }

    &--close {
        position: absolute;
        right: 6.25rem;
        transform: translateY(-4.25rem);
        transition: 0.5s ease-in-out;
        z-index: 4;
    }

    &--languages_selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.5rem;
        width: 3.25rem;

        & .selected {
            position: relative;
            z-index: 99;
        }

        &__languages {
            & img {
                width: 2rem;
                height: 1.375rem;
                transition: 0.5s ease-in-out;
            }

            & img:not(.selected) {
                position: absolute;
                right: 1.75rem;
            }
        }
    }

    &--dropdown {
        width: 0.875rem;
        height: 0.875rem;
        transition: 0.5s ease-in-out;
        transform-origin: center;
    }

    .toggled {
        transform: scaleY(-1);
    }
}

@media screen and (min-width:1000px) {

    .header_buttons {
        position: relative;
        right: 0;

        &--user,
        &--search,
        &--close,
        &--display,
        &--languages_selector {
            align-self: center;
        }

        &--display {
            width: 4.125rem;
            height: 4.125rem;
        }

        &--search {
            display: flex;
            justify-content: end;
            width: 4.25rem;

            &.toggled {
                padding-right: 4.25rem;
                width: 20rem;
                transform: none;
                transition: 0.5s ease-in-out;
            }
        }

        &--close {
            right: 17.25rem;
            background: none;
            border: none;
            transform: scaleX(0);
            transform-origin: right;

            &.toggled {
                transform: scaleX(1);
            }
        }

        &--languages_selector {
            margin-inline: 3.5rem;
            padding: 0;
            width: auto;
            background: none;
            border: none;

            &__languages {

                & img {
                    width: 3rem;
                    height: 2rem;
                }

                & img:not(.selected) {
                    position: absolute;
                    right: 5.25rem;
                }
            }
        }

        &--dropdown {
            margin-left: 0.5rem;
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}