$confirm : #06EF38;
$cancel: #DE1919;
$blur: #222222;
$unav: #8F2724;

$engineering-and-arquitecture: #8B4720;
$sciences: #003DA5;
$law: #FF0000;
$communication: #7C878E;
$canon: #007749;
$philosophy-literature-education: #62B5E5;
$economy: #FA4616;
$nursing: #C1C6C8;
$pharmacy-nutrition: #5C068C;
$medicine: #FFC72C;
$theology: #FFFFFF;

@mixin button{
    background-color: transparent;
    border: none;
}

.engineering-and-arquitecture {
    background-color: $engineering-and-arquitecture;
}

.sciences {
    background-color: $sciences;
}

.law {
    background-color: $law;
}

.communication {
    background-color: $communication;
}

.canon {
    background-color: $canon;
}

.philosophy-literature-education {
    background-color: $philosophy-literature-education;
}

.economy {
    background-color: $economy;
}

.nursing {
    background-color: $nursing;
}

.pharmacy-nutrition {
    background-color: $pharmacy-nutrition;
}

.medicine {
    background-color: $medicine;
}

.theology {
    background-color: $theology;
}