nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 4.3125rem;
    padding: 1rem 1.25rem;
    transition: 200ms ease-in-out;
    transform-origin: top;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000004A;
    z-index: 12;

    & .separator {
        display: none;
    }

    &.deploy_nav--active {
        text-shadow: none;
        transform: scaleY(1.0);
    }

    &.deploy_nav--non_active {
        text-shadow: none;
        transform: scaleY(0.0);
    }

    &.header--nav {
        display: none;
    }

    a {
        color: #000000;
        font-family: "Oswald";
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0;
        text-decoration: none;
        text-align: left;
        align-self: flex-start;
        margin-block: 0.5rem;
    }
}

.nav--campus {
    @include headerbackground($color: rgba(255, 255, 255, 1));
}

@media screen and (min-width: 1000px) {
    nav {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        padding: 0;

        & .separator {
            display: block;
            height: 1.5rem;
            align-self: center;
            border: 1px solid white;
        }

        &.deploy_nav--active,
        &.deploy_nav--non_active {
            display: none;
        }

        &.header--nav {
            display: flex;
            position: absolute;
            right: 24rem;
            width: 40%;
            max-width: calc(100% - 44.25rem - 8vw);
            margin-left: auto;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            transform: translateY(calc(5rem - 50%));
            transition: 0.5s ease-in-out;
            z-index: 12;

            a {
                display: inline-block;
                align-self: center;
                margin: 0 auto;
                height: 100%;
                width: 24%;
                align-content: center;
                color: white;
            }
        }

        a {
            text-align: center;
        }
    }
}