html, * { 
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 4.375rem;
}

body { 
    min-width: 320px;
    overflow-x: hidden;
}

button, input[type=submit]{
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: inherit;
}

@media screen and (min-width: 1000px) {
    html, * {
        scroll-margin-top: 10rem;
    }
}