@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

@keyframes stretch {
    from {
        transform: scale(0.9, 1.1);
    }

    to {
        transform: scale(1.1, 0.9);
    }
}

.main {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;

    h2 {
        margin-bottom: 1rem;
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        z-index: 2;
    }

    p {
        margin-bottom: 1rem;
        font-family: 'Archivo';
        font-size: 1.5rem;
        text-align: justify;
        line-height: 1.65rem;
        z-index: 2;

        &#biography-1,
        &#biography-2 {
            text-align: left;
        }

        .blue-m {
            color: $sciences;
        }
    }

    &__faculties {
        position: relative;
        margin-block: 2rem;

        &--top {
            bottom: 4.5rem;
            margin-top: 0;
            margin-bottom: -4rem;
        }

        &--bottom {
            top: 6.5rem;
            margin-bottom: 0;
            margin-top: -6rem;
        }

        &__faculty {
            animation: 10s ease-in-out 1s infinite;
            animation-name: stretch;
            animation-direction: alternate;
            border: 0.5rem solid;
            border-radius: 2rem;
            background-color: transparent;

            &.philosophy-literature-education {
                border-color: $philosophy-literature-education;
                width: 50%;
                height: 8rem;
                animation-delay: -7s;
            }

            &.law {
                position: absolute;
                border-color: $law;
                width: 70%;
                height: 4rem;
                bottom: 4rem;
                left: 30%;
                animation-delay: -11s;
            }

            &.communication {
                border-color: $communication;
                width: 90%;
                height: 8.75rem;
                animation-delay: -4s;
            }

            &.sciences {
                position: absolute;
                border-color: $sciences;
                width: 60%;
                height: 10rem;
                left: 40%;
                bottom: 1rem;
                animation-delay: -13s;
            }

            &.medicine {
                border-color: $medicine;
                width: 70%;
                height: 7.5rem;
                animation-delay: -1s;
            }

            &.engineering-and-arquitecture {
                position: absolute;
                border-color: $engineering-and-arquitecture;
                width: 45%;
                height: 7rem;
                left: 55%;
                bottom: 3rem;
                animation-delay: -8s;
            }

            &.economy {
                position: relative;
                border-color: $economy;
                bottom: 2rem;
                width: 50%;
                height: 12.5rem;
                animation-delay: -13s;
            }

            &.nursing {
                position: absolute;
                border-color: $nursing;
                width: 80%;
                height: 10rem;
                left: 20%;
                bottom: 0;
                animation-delay: -3s;
            }

            &.canon {
                border-color: $canon;
                width: 75%;
                height: 12rem;
                animation-delay: -15s;
            }

            &.pharmacy-nutrition {
                position: absolute;
                border-color: $pharmacy-nutrition;
                width: 75%;
                height: 6rem;
                left: 25%;
                bottom: 2rem;
                animation-delay: -8s;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .main {
        width: 60%;
        margin: 4rem auto;

        &__faculties {
            position: absolute;
            width: 100%;
            left: 0;

            &--top {
                bottom: auto;
                margin-bottom: 0;
            }

            &--bottom {
                top: auto;
                margin-top: 0;
            }

            &__faculty {
                position: relative;

                &.philosophy-literature-education {
                    top: -2rem;
                    left: -8%;
                    width: 16%;
                    height: 20rem;
                }

                &.law {
                    position: relative;
                    top: 7rem;
                    left: -11.11%;
                    width: 22.22%;
                    height: 21rem;
                }

                &.communication {
                    top: 44rem;
                    left: -6.875%;
                    width: 13.75%;
                    height: 20.625rem;
                }

                &.sciences {
                    position: relative;
                    top: -13.5rem;
                    left: -15%;
                    width: 30%;
                    height: 24.5rem;
                }

                &.medicine {
                    top: 22rem;
                    left: -17%;
                    width: 34%;
                    height: 31.5rem;
                    z-index: 3;
                }

                &.engineering-and-arquitecture {
                    position: relative;
                    right: calc(8% - 100%);
                    bottom: 30rem;
                    left: auto;
                    width: 16%;
                    height: 17.5rem;
                }

                &.economy {
                    position: relative;
                    top: 10rem;
                    bottom: auto;
                    right: calc(13% - 100%);
                    width: 26%;
                    height: 22rem;
                }

                &.nursing {
                    position: relative;
                    right: calc(9% - 100%);
                    top: 3rem;
                    left: auto;
                    bottom: auto;
                    width: 18%;
                    height: 21rem;
                }

                &.canon {
                    border-color: $canon;
                    top: 38rem;
                    right: calc(15% - 100%);
                    width: 30%;
                    height: 23.375rem;
                    z-index: -1;
                }

                &.pharmacy-nutrition {
                    position: relative;
                    left: auto;
                    bottom: auto;
                    right: calc(6.1% - 100%);
                    top: 19rem;
                    width: 12.2%;
                    height: 30rem;
                }
            }
        }
    }
}