@import 'mixins';
@import 'styles';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width: 37.5rem;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba($color: $blur, $alpha: 0.3);
    background-image: url('/img/hexagon.jpg');
    background-blend-mode: darken;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-family: "Merriweather";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.6px;
    color: $theology;

    h1 {
        align-self: center;
        font-size: 2.25rem;
        width: fit-content;
        margin-left: 0.5rem;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
    }

    img {
        height: 6.25rem;
    }
}

@media screen and (min-width: 1000px) {
    .logo {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        h1 {
            font-size: 6rem;
        }

        img {
            height: 16.25rem;
        }
    }
}

form {
    position: relative;
    padding: 1rem 1.25rem;
    font-family: 'Archivo';
    font-weight: bold;
    color: $theology;

    &>* {
        margin-bottom: 0.5rem;
    }

    h2 {
        font-family: 'Merriweather';
        font-size: 2rem;
    }

    input:not([type=submit]) {
        width: 100%;
        padding: 1rem 1rem 1rem 3rem;
        border: 0;
        border-radius: 0.5rem;
        font-family: 'Archivo';
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: inherit;

        &::placeholder {
            color: inherit;
            opacity: 0.8;
        }

        &#name,
        &#password,
        &#email {
            background-repeat: no-repeat;
            background-position-x: 1rem;
            background-position-y: center;
        }

        &#name {
            @include form-name($sciences)
        }

        &#password {
            background-image: url('/img/password.svg');
        }

        &#email {
            @include form-email($sciences)
        }
    }

    p {
        font-family: 'Archivo';
        font-size: 1rem;
        font-weight: 500;
        text-align: right;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    height: 3rem;

    a,
    button {
        border: none;
        background-color: transparent;
    }

    button {
        width: 11rem;
        border-radius: 0.5rem;
        font-family: 'Archivo';
        font-size: 1rem;
        font-weight: 500;
        color: white;
        background-color: $sciences;
        text-align: center;
    }

    img {
        height: 100%;
    }
}

.languages {
    display: flex;
    justify-content: space-evenly;

    a {
        width: 25%;
        max-width: 10rem;

        img {
            width: 100%;
        }
    }
}