@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

.main {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.25rem;

    input[type=submit] {
        width: 2.25rem;
        border: none;
        background-image: url('../img/diskette.svg');
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    a.discard {
        padding: 0;
        background-color: transparent;
    }

    &__content__info--delete {
        padding: 0 !important;
        background-color: transparent !important;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
    }

    .thesis {
        display: flex;
        flex-direction: column;

        &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__directors {
                position: relative;
                top: 0.5rem;
            }
        }
    }

    input:not([type=radio]):not([type=submit]), textarea, select {
        min-width: 3rem;
        max-width: 100%;
        border: none;
        font: inherit;
        text-decoration: underline;
        text-decoration-thickness: 4px !important;
        background-color: transparent;
        field-sizing: content;
    }

    input[type=date] {
        text-decoration: none !important;
    }

    input[type=radio] {
        margin-inline: 0.5rem;
    }

    fieldset {
        border: none;
    }

    h2 {
        font-family: 'Merriweather';
        font-weight: bold;
        font-size: 2rem;
    }

    p.life-date {
        height: 1.5rem;
        margin-block: 1rem;
        font-family: 'Roboto';
        font-size: 1.5rem;
    }

    hr.date-separator {
        width: 3rem;
        margin: 0;
        border: 1px solid black;
    }

    img {
        margin: 2rem auto;
        width: 60%;
        max-width: 18rem;
    }

    h3 {
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 1.75rem;

        &.uppercase {
            text-transform: uppercase;
        }
    }

    i {
        font-family: 'Archivo';
        font-size: 1.25rem;
    }

    .faculty-teseo {
        font-family: 'Archivo';
        font-size: 1rem;
    }

    hr {
        width: 100%;
        margin-block: 1.5rem;
        border: 1px solid #DDDDDD;
    }

    ol {
        list-style-position: inside;
        font-family: 'Roboto';
        font-size: 1.25rem;

        li {
            margin: 0.5rem 0;

            &::marker {
                content: counter(list-item) ".- ";
            }
        }
    }

    p.relations, li {
        font-family: 'Roboto';
        font-size: 1.25rem;

        select {
            text-decoration-thickness: 2px !important;
        }
    }

    button {
        width: fit-content;
        padding: 0.75rem 1.25rem;
        border: none;
        font-family: 'Roboto';
        font-size: 1rem;
        color: #EEEEEE;
        background-color: $confirm;

        &.delete {
            margin-left: 0.75rem;
            background-color: $cancel;
        }
    }

    a, input:not([type=radio]):not([type=submit]), textarea, select {
        text-decoration-thickness: 0.1rem;

        &.engineering-and-arquitecture-underline { text-decoration-color: $engineering-and-arquitecture; }
        &.sciences-underline { text-decoration-color: $sciences; }
        &.law-underline { text-decoration-color: $law; }
        &.communication-underline { text-decoration-color: $communication; }
        &.canon-underline { text-decoration-color: $canon; }
        &.philosophy-literature-education-underline { text-decoration-color: $philosophy-literature-education; }
        &.economy-underline { text-decoration-color: $economy; }
        &.nursing-underline { text-decoration-color: $nursing; }
        &.pharmacy-nutrition-underline { text-decoration-color: $pharmacy-nutrition; }
        &.medicine-underline { text-decoration-color: $medicine; }
        &.theology-underline { text-decoration-color: $theology; }
        &.unknown-underline { text-decoration-color: $unknown; }
    }

    .biography {
        margin-top: 1rem;
        font-family: 'Roboto';
        font-size: 1rem;

        &>* {
            margin-block: 0.75rem;
        }
    }

    &__modal {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 2.5rem);
        max-width: 45rem;
        border-radius: 1rem;
        background-color: $sciences;
        transition: 0.5s ease-in-out;
        z-index: 99;

        &.toggle {
            top: 50%;
        }

        h2 {
            padding: 0.875rem 1rem;
            font-family: 'Oswald';
            font-weight: 550;
            font-size: 2.25rem;
            color: white;
        }

        p {
            padding: 1rem;
            font-family: 'Inter';
            font-weight: 550;
            font-size: 1rem;
            color: white;

            b {
                text-transform: uppercase;
            }
        }

        &__actions {
            display: flex;
            flex-direction: column;
            justify-self: end;
            gap: 1rem;
            width: 13rem;
            margin: 1rem;
            margin-top: 0;

            button {
                height: 3rem;
                border: none;
                border-radius: 0.5rem;
                font-family: 'Inter';
                font-weight: 550;
                font-size: 1rem;
                text-align: center;
                color: white;

                &:first-child {
                    background-color: $confirm;
                }

                &:last-child {
                    background-color: $cancel;
                }
            }
        }
    }
}

.card-manipulation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
    margin-bottom: 1rem;
    order: -1;

    img {
        width: auto;
        height: 2.25rem;
        margin: 0;
    }
}

@media screen and (min-width: 1000px) {
    .main {
        width: 60%;
        margin: 2rem auto;

        .personal-info {
            flex-direction: row;
            gap: 1rem;
        }

        .thesis {
            flex-direction: row;
            gap: 2rem;
            margin-block: 1.25rem;

            img {
                align-self: center;
            }

            &__text {
                align-self: center;
            }
        }

        h2 {
            align-self: center;
            margin-right: 2rem;
        }

        p.life-date {
            align-self: center;
        }

        hr {
            align-self: center;
            margin: 0 .5rem;
        }

        img {
            width: 20%;
            max-width: none;
            margin: 0;
        }

        &__modal__actions {
            flex-direction: row;
            width: auto;

            button {
                width: 12.5rem;
            }
        }
    }

    .card-manipulation {
        align-self: center;
        margin-bottom: 0;
        margin-left: auto;
        order: inherit;

        img {
            width: auto;
            height: 2.25rem;
        }
    }
}