@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

.main {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.25rem;

    .personal-info {
        display: flex;
        flex-direction: column;
    }

    .thesis {
        display: flex;
        flex-direction: column;

        &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__directors {
                position: relative;
                top: 0.5rem;
            }
        }
    }

    h2 {
        font-family: 'Merriweather';
        font-weight: bold;
        font-size: 2rem;
    }

    p.life-date {
        height: 1.5rem;
        margin-block: 1rem;
        font-family: 'Roboto';
        font-size: 1.5rem;
    }

    hr.date-separator {
        width: 3rem;
        margin: 0;
        border: 1px solid black;
    }

    img {
        margin: 2rem auto;
        width: 60%;
        max-width: 18rem;
    }

    h3 {
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 1.75rem;

        &.uppercase {
            text-transform: uppercase;
        }
    }

    i {
        font-family: 'Archivo';
        font-size: 1.25rem;
    }

    p.faculty {
        font-family: 'Archivo';
        font-size: 1rem;
    }

    hr {
        width: 100%;
        margin-block: 1.5rem;
        border: 1px solid #DDDDDD;
    }

    ol {
        list-style-position: inside;
        font-family: 'Roboto';
        font-size: 1.25rem;

        li {
            margin: 0.5rem 0;

            &::marker {
                content: counter(list-item) ".- ";
            }
        }
    }

    a {
        text-decoration-thickness: 0.1rem;

        &.engineering-and-arquitecture-underline { text-decoration-color: $engineering-and-arquitecture; }
        &.sciences-underline { text-decoration-color: $sciences; }
        &.law-underline { text-decoration-color: $law; }
        &.communication-underline { text-decoration-color: $communication; }
        &.canon-underline { text-decoration-color: $canon; }
        &.philosophy-literature-education-underline { text-decoration-color: $philosophy-literature-education; }
        &.economy-underline { text-decoration-color: $economy; }
        &.nursing-underline { text-decoration-color: $nursing; }
        &.pharmacy-nutrition-underline { text-decoration-color: $pharmacy-nutrition; }
        &.medicine-underline { text-decoration-color: $medicine; }
        &.theology-underline { text-decoration-color: $theology; }
        &.unknown-underline { text-decoration-color: $unknown; }
    }

    .biography {
        margin-top: 1rem;
        font-family: 'Roboto';
        font-size: 1rem;

        &>* {
            margin-block: 0.75rem;
        }
    }
}

@media screen and (min-width: 1000px) {
    .main {
        width: 60%;
        margin: 2rem auto;

        .personal-info {
            flex-direction: row;
            gap: 1rem;
        }

        .thesis {
            flex-direction: row;
            gap: 2rem;
            margin-block: 1.25rem;

            img {
                align-self: center;
            }

            &__text {
                align-self: center;
            }
        }

        h2 {
            align-self: center;
            margin-right: 2rem;
        }

        hr {
            align-self: center;
            margin: 0 .5rem;
        }

        img {
            width: 20%;
            max-width: none;
            margin: 0;
        }
    }
}