@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

main {
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;
        padding: 2rem 1.25rem;

        h2 {
            font-family: 'Oswald';
            font-weight: bold;
            font-size: 2.5rem;
        }

        input,
        select {
            height: 3rem;
            padding: 1rem 1rem 1rem 3rem;
            font-family: 'Archivo';
            font-size: 1rem;
            color: white;
            border: none;
            border-radius: 0.5rem;
            background-color: rgba($color: $blur, $alpha: 0.9);
            background-repeat: no-repeat;
            background-position-x: 1rem;
            background-position-y: center;

            &::placeholder {
                color: white;
            }

            &#name {
                @include form-name($sciences);
            }

            &#email {
                @include form-email($sciences);
            }

            &#password {
                background-image: url('/img/password.svg');
            }
        }

        select {
            height: calc(3rem + 2px);
            padding-left: 1rem;
            border: 1px solid rgba($color: $blur, $alpha: 0.7);
            color: black;
            background-color: white;
        }

        button {
            width: 20rem;
            height: 3rem;
            border: none;
            font-family: 'Archivo';
            font-size: 1rem;
            color: $blur;
            background-color: $confirm;
        }
    }
}