@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

.main {
    &>:not(.swiper) {
        margin: 0 1rem;
    }

    h2 {
        margin-top: 2rem !important;
    }

    h2,
    h3 {
        margin-bottom: 2rem !important;
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.96px;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 1rem;
        font-family: 'Archivo';
        font-size: 1.5rem;
        text-align: justify;
    }

    &__cards {
        display: flex;
        flex-direction: column;

        &__text-card,
        &__image-card {
            align-content: center;
            margin-bottom: 2rem;
            height: 13.625rem;
            overflow: hidden;
        }

        &__text-card {
            padding: 2rem 1.75rem;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba($color: $blur, $alpha: 0.25);

            p {
                margin: 0;
                font-size: 1.25rem;
            }

            &.order-works {
                order: 3;
            }
        }

        &__image-card {
            width: 100%;
            max-width: 30rem;
            background-image: url('/img/historicaldoctorate.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            &.order-physicists {
                background-image: url('/img/physicists.png');
            }

            &.order-physicists {
                order: 4;
            }
        }

        &--background {
            display: none;
        }
    }

    .research-main-text {
        margin-bottom: 1rem;
    }

    .swiper {

        &-slide {
            position: relative;
            overflow: hidden;

            .time-image {
                margin-block: 2rem 3.5rem;
                width: 100%;
                border-radius: 99rem;
                mask-image: radial-gradient(circle,
                        black 60%,
                        transparent 70%);
            }

            .time {
                font-family: 'Merriweather';
                font-weight: normal;
                font-size: 6rem;
                text-align: center;
            }

            div {
                height: 6.25rem;
                background-image: url('/img/timeline.svg');
                background-size: cover;
                background-position: center;
                background-repeat: repeat no-repeat;

                &.timeline-start {
                    background-image: url('/img/timeline-corner.svg');
                }

                &.timeline-end {
                    background-image: url('/img/timeline-corner.svg');
                    transform: rotate(180deg);
                }
            }

            &.timeline-text {
                margin: 2rem auto;
                height: 25rem;
                font-family: 'Archivo';
                font-size: 1.5rem;
                overflow-y: auto;
                opacity: 0;
                transition: 0.5s ease-in-out;
                mask-image: linear-gradient(to bottom,
                        transparent 0%,
                        black 1%,
                        black 92%,
                        transparent 100%);
            }

            &-active.timeline-text {
                opacity: 1;
            }
        }

        &--timeline-images,
        &--timeline-content {
            margin: 0 1rem;

            & img {
                transform: none;
            }
        }

        &--timeline-images {
            margin: 0 auto;
            padding: 0 1rem;
            max-width: 30rem;
        }

        &--timeline-header {
            margin-bottom: 3rem;
            background: linear-gradient(to bottom,
                    #ffffff 12%,
                    #f4f4f4 25%,
                    #e8e8e8 50%,
                    #f4f4f4 75%,
                    #ffffff 88%);
        }

        &__buttons {
            display: flex;
            justify-content: space-evenly;
            margin-top: 3.5rem;

            &--prev,
            &--next {
                width: 5rem;
                height: 5rem;
            }

            &--next {
                transform: rotate(180deg);
            }
        }
    }

    &__thesis-history {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0 !important;
        overflow-x: hidden;

        &__arch {
            align-self: center;
            width: 40rem;
            mask-image: linear-gradient(to right,
                    transparent 0%,
                    black 10%,
                    black 90%,
                    transparent 100%);
        }

        &__year {
            position: absolute;
            top: 1rem;
            transform: translateX(calc(50vw - 70% + 0.25rem));
            font-family: 'Merriweather';
            font-weight: bold;
            font-size: 3rem;
            color: $theology;
        }

        &__text {
            margin: 0 2rem;
        }
    }

    h5 {
        font-family: 'Oswald';
        font-weight: 600;
        font-size: 1.75rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            transition: 0.5s ease-in-out;
            transform-origin: center;
            cursor: pointer;
        }

        &.toggled>img {
            transform: scaleY(-1);
        }
    }

    &__bibliography {
        margin: 1rem 1rem !important;
        padding-left: 1rem;
        max-height: 0;
        font-family: 'Archivo';
        font-size: 1rem;
        transform: scaleY(0);
        transform-origin: top;
        transition: 0.5s ease-in-out;

        &.toggled {
            max-height: 25rem;
            transform: scaleY(1);
        }
    }
}

@media screen and (min-width: 1000px) {
    .main {
        &>:not(.swiper) {
            margin: 0 auto;
        }

        h2 {
            width: 50%;
        }

        h3,
        h5,
        &>p {
            width: 60%;
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            width: 50%;
            margin-bottom: 6rem !important;

            &>div {
                height: auto;
                min-height: 17rem;
                margin-bottom: 0;
            }

            &>div:nth-child(2n-1) {
                margin-top: 2rem;
            }

            &>div:nth-child(2n-2) {
                margin-bottom: 2rem;
            }

            &__text-card {

                &.order-works {
                    order: 0;
                }
            }

            &__image-card {

                &.order-physicists {
                    order: 0;
                }
            }

            &--background {
                display: block;
                position: absolute;
                left: 40%;
                width: 100%;
                height: 31.25rem !important;
                margin-top: 12rem !important;
                background-color: #E8E8E8;
                border-radius: 2rem;
                z-index: -1;
            }
        }

        .swiper {

            &-slide {
                position: relative;
                overflow: hidden;

                .time-image {
                    margin-block: 2rem 0;
                }

                .time {
                    margin-top: 4rem;
                }
            }

            &--timeline-images {
                position: absolute;
                margin: 0 auto 0 6%;
                width: 30%;
                max-width: 30rem;
                z-index: 3;
            }

            &--timeline-header {
                overflow: visible;
                z-index: 2;
            }

            &__buttons {
                position: absolute;
                justify-content: space-around;
                width: 100%;
                margin-top: 11rem;
                z-index: 10;
                cursor: pointer;
            }
        }

        &__thesis-history {
            width: 50%;
            margin: 0 auto !important;
            overflow-x: visible;

            &__arch {
                margin-top: 2rem;
                width: 70rem;
            }

            &__year {
                position: absolute;
                top: 5rem;
                transform: translateX(calc(25vw - 70% + 0.25rem));
                font-family: 'Merriweather';
                font-weight: bold;
                font-size: 3rem;
                color: $theology;
            }

            &__text {
                position: relative;
                margin: 0;
                bottom: 2rem;
            }
        }

        &__bibliography {
            width: 60%;
            margin: 1rem auto !important;
            font-size: 1.25rem;
        }
    }
}