@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

@keyframes move {
    from {
        offset-distance: 0%;
    }

    to {
        offset-distance: 100%;
    }
}

@keyframes visibility {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.main {
    &>:not(.swiper) {
        margin: 0 1rem;
    }

    h2 {
        margin-top: 2rem !important;
    }

    h2,
    h3 {
        margin-bottom: 2rem !important;
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.96px;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 1rem;
        font-family: 'Archivo';
        font-size: 1.5rem;
        text-align: justify;
    }

    &__cards {
        display: flex;
        flex-direction: column;

        &__text-card,
        &__image-card {
            margin-bottom: 2rem;
            height: 13.625rem;
            overflow: hidden;
        }

        &__text-card {
            align-content: center;
            padding: 2rem 1.75rem;
            box-shadow: 0px 8px 16px 0px rgba($color: $blur, $alpha: 0.25);

            p {
                margin: 0;
                font-size: 1.25rem;
            }
        }

        &__image-card {
            align-content: center;
            height: auto;
            max-width: 30rem;
            margin: 0 auto 2rem auto;

            & img {
                position: relative;
                width: 100%;

                &.center-physicists {
                    bottom: 1.5rem;
                }
            }
        }

        &--background {
            display: none;
        }
    }

    .research-main-text {
        margin-bottom: 1rem;
    }

    .swiper {

        &-slide {
            position: relative;
            overflow: hidden;

            .time-image {
                margin-block: 2rem 3.5rem;
                width: 100%;
                border-radius: 99rem;
                mask-image: radial-gradient(circle,
                        black 60%,
                        transparent 70%);
            }

            .time {
                font-family: 'Merriweather';
                font-weight: normal;
                font-size: 6rem;
                text-align: center;
            }

            img {
                transform: translateX(calc(-50% + 50vw));

                &.timeline-start {
                    transform: translateX(calc(-50% + 50vw - 0.5rem));
                }

                &.timeline-end {
                    transform: translateX(calc(-50% + 50vw + 0.5rem)) rotate(180deg);
                }
            }

            &.timeline-text {
                margin: 2rem auto;
                height: 25rem;
                font-family: 'Archivo';
                font-size: 1.5rem;
                overflow-y: auto;
                opacity: 0;
                transition: 0.5s ease-in-out;
                mask-image: linear-gradient(to bottom,
                        transparent 0%,
                        black 1%,
                        black 92%,
                        transparent 100%);
            }

            &-active.timeline-text {
                opacity: 1;
            }
        }

        &--timeline-images,
        &--timeline-content {
            margin: 0 1rem;

            & img {
                transform: none;
            }
        }

        &--timeline-images {
            margin: 0 auto;
            padding: 0 1rem;
            max-width: 30rem;
        }

        &--timeline-header {
            margin-bottom: 3rem;
            background: linear-gradient(to bottom,
                    #ffffff 12%,
                    #f4f4f4 25%,
                    #e8e8e8 50%,
                    #f4f4f4 75%,
                    #ffffff 88%);
        }

        &__buttons {
            display: flex;
            justify-content: space-evenly;
            margin-top: 3.5rem;

            &--prev,
            &--next {
                width: 5rem;
                height: 5rem;
            }

            &--next {
                transform: rotate(180deg);
            }
        }
    }

    &__thesis-history {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0 !important;
        overflow-x: hidden;

        &__arch {
            align-self: center;
            width: 40rem;
            mask-image: linear-gradient(to right,
                    transparent 0%,
                    black 10%,
                    black 90%,
                    transparent 100%);
        }

        &__year {
            position: absolute;
            top: 1rem;
            transform: translateX(calc(50vw - 70% + 0.25rem));
            font-family: 'Merriweather';
            font-weight: bold;
            font-size: 3rem;
            color: $theology;
        }

        &__text {
            margin: 0 2rem;
        }
    }

    h5 {
        font-family: 'Oswald';
        font-weight: 600;
        font-size: 1.75rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            transition: 0.5s ease-in-out;
            transform-origin: center;

            &.toggled {
                transform: scaleY(-1);
            }
        }
    }

    &__bibliography {
        margin: 1rem 1rem !important;
        padding-left: 1rem;
        max-height: 0;
        font-family: 'Archivo';
        font-size: 1rem;
        transform: scaleY(0);
        transform-origin: top;
        transition: 0.5s ease-in-out;

        &.toggled {
            max-height: 25rem;
            transform: scaleY(1);
        }
    }
}