@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

.main {
    margin: 2rem 1rem;

    &__card {
        display: flex;
        flex-direction: column;
        padding: 2rem 1.25rem;
        box-shadow: 0px 16px 24px 0px rgba($color: #000000, $alpha: 0.2);

        p {
            font-family: 'Archivo';
            font-size: 1.5rem;
            font-style: italic;
            text-align: justify;

            span {
                font-size: 1.25rem;
            }
        }

        img {
            align-self: center;
            margin: 0 auto;
            height: 100%;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        margin-top: 2rem;
        font-family: 'Archivo';
        font-size: 1rem;
        text-align: justify;

        &__images {
            display: flex;
            justify-content: space-between;

            img {
                width: 47%;
                margin-block: 0.5rem;
            }
        }
    }

    b {
        color: $sciences;
    }
}

@media screen and (min-width: 1000px) {
    .main {
        width: 60%;
        margin: 4rem auto;

        &__card {
            flex-direction: row;
            padding: 2rem 3.5rem;
            gap: 3rem;

            p {
                align-self: center;
                font-size: 2rem;

                span {
                    font-size: 1.5rem;
                }
            }
        }

        &__description {
            font-size: 1.5rem;

            &__images {
                position: absolute;
                width: 94%;
                left: 3%;

                img {
                    align-self: center;
                    width: 14%;
                }
            }
        }
    }
}