@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

.main {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;

    h2 {
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }

    .content-header {
        display: flex;
        flex-direction: column;

        a {
            margin: 1.5rem auto;
            padding: 0.75rem;
            font-family: 'Archivo';
            text-decoration: none;
            color: white;
            background-color: $confirm;

            span {
                font-weight: bold;
            }
        }
    }

    &__sorting {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin: 0 auto;

        a, select {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            font-family: 'Inter';
            font-size: 1.5rem;
            text-decoration: none;

            img {
                height: 2rem;
                width: 2rem;
            }
        }

        select {
            border: none;
            background-color: transparent;
            font-size: 1.25rem;
            -moz-appearance: none;
            -webkit-appearance: none;

            &:focus-visible {
                outline: none;
            }
        }

        hr {
            border: 1px solid black;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0.25rem;

        &__card {
            display: flex;
            gap: 1.25rem;
            align-items: center;
            width: 100%;
            max-width: 40rem;
            padding: 1rem;
            text-decoration: none;
            border-bottom-width: 4px;
            border-bottom-style: solid;

            &--engineering-and-arquitecture { border-bottom-color: $engineering-and-arquitecture; }
            &--sciences { border-bottom-color: $sciences; }
            &--law { border-bottom-color: $law; }
            &--communication { border-bottom-color: $communication; }
            &--canon { border-bottom-color: $canon; }
            &--philosophy-literature-education { border-bottom-color: $philosophy-literature-education; }
            &--economy { border-bottom-color: $economy; }
            &--nursing { border-bottom-color: $nursing; }
            &--pharmacy-nutrition { border-bottom-color: $pharmacy-nutrition; }
            &--medicine { border-bottom-color: $medicine; }
            &--theology { border-bottom-color: $theology; }
            &--unknown { border-bottom-color: $unknown; }

            box-shadow: 0 0.5rem 1rem 0 rgba($color: $blur, $alpha: 0.25);
            cursor: pointer;

            img {
                width: 33%;
                height: 100%;
            }

            &__text {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                b {
                    font-family: 'Merriweather';
                    font-size: 1.5rem;
                }

                i {
                    font-family: 'Archivo';
                    font-size: 1rem;
                }

                p {
                    font-family: 'Roboto';
                    font-size: 1rem;
                }
            }
        }
    }

    &__pagination {
        position: relative;
        display: flex;
        justify-content: center;
        left: -1rem;
        height: 4rem;
        width: 100vw;
        margin: 2rem auto;
        background: linear-gradient(to bottom, #FFFFFF 0%, #E8E8E8 50%, #FFFFFF 100%);

        a {
            align-content: center;
            height: 4rem;
            width: 4rem;
            font-family: 'Merriweather';
            font-size: 2.5rem;
            text-align: center;
            text-decoration: none;

            img {
                height: 2rem;
                width: 2rem;
            }
        }

        p {
            align-self: center;
            font-family: 'Merriweather';
            font-size: 2.5rem;
            text-align: center;
            text-decoration: none;
        }
    }
}

.filter-separator-desktop {
    display: none;
}

.flip {
    transform: scaleX(-1);
}

.disabled {
    opacity: 50%;
}

@media screen and (min-width: 550px) {
    .filter-separator-desktop {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .main {

        h2 {
            text-align: left;
        }

        .content-header {
            flex-direction: row;
            justify-content: space-between;
            width: 70%;
            margin: 0.5rem auto;

            a {
                margin: 0.1rem 0;
            }
        }

        &__sorting {
            justify-content: left;
            width: 70%;

            a {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                font-family: 'Inter';
                font-size: 1.5rem;
                text-decoration: none;

                img {
                    height: 2rem;
                    width: 2rem;
                }
            }

            hr {
                border: 1px solid black;
            }
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 70%;
            margin: 0 auto;
        }
    }
}