@import 'mixins';
@import 'header';
@import 'footer';
@import 'styles';

.main {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem;

    &>img {
        display: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0 auto;

        &>a>img {
            width: 2rem;
            height: 2rem;
            margin-bottom: 1rem;
        }

        &__info {
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;

            input {
                grid-column: 1/5;
                height: 3rem;
                padding: 1rem 1rem 1rem 3rem;
                border: none;
                background-repeat: no-repeat;
                background-position-x: 1rem;
                background-position-y: center;

                &#name {
                    text-align: center;
                    padding-left: 1rem;
                    color: black;
                    background-color: transparent;
                    @include form-name($sciences);
                }

                &[name*=password] {
                    border-radius: 0.5rem;
                    color: white;
                    background-color: rgba($color: #000000, $alpha: 0.7);
                    transition: 0.2s ease-in-out;

                    &::placeholder {
                        color: white;
                    }

                    &:focus {
                        background-color: rgba($color: #000000, $alpha: 1);
                    }
                }

                &#password {
                    background-image: url('/img/password.svg');
                }

                &#confirm-password {
                    background-image: url('/img/confirm-password.svg');
                }

                &:focus-visible {
                    outline: none;
                }
            }

            hr {
                position: absolute;
                top: 2.5rem;
                width: calc(100% - 1rem);
                margin: 0 0.5rem;
                border: 1px solid black;
            }

            &--change {
                @include accountbutton(100%, 14.25rem, $sciences);
            }

            &--delete {
                @include accountbutton(95%, 12rem, $cancel);
            }

            &--show {
                grid-column: 1;
                grid-row: 4/6;
                align-self: center;
                height: fit-content;
                margin-right: 2.5rem;
                border: none;
                background-color: transparent;

                img {
                    width: 4.25rem;
                    height: 2.75rem;

                    &.hidden {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .main {
        flex-direction: row;

        &>img {
            display: block;
            width: 50%;
            max-width: 50rem;
            padding: 9.5rem 3.75rem;
            height: 100%;
            margin: 0 auto;
        }

        &__content {
            position: relative;
            top: -2rem;
            width: 50%;
            align-items: center;
            justify-content: center;

            &>a {
                position: relative;
                left: 13.25rem;
            }
        }
    }
}